# Google Gemini API Key (Agent 1 - Orchestrator)
GEMINI_API_KEY=AQ.Ab8RN6JRA-ibSjhIY0hQciUKjNox0GNnON4LtRhKcLc_0o0NxQ

# DeepSeek API Key (Agent 2 - Reasoning Engine)
DEEPSEEK_API_KEY=sk-3626af10c5514f8fbeb31c577c036875

# Qwen / DashScope API Key (Agent 3 - Evaluator)
QWEN_API_KEY=sk-ws-H.DMLIHMD.h1ne.MEUCIQDWViDgXqxm24Xr1bfL8cyBa50aiV-el1K8HBnrq5VKiwIgQgkP8DVMVi5pFr2E7KbrUdd2UOVR3QtqZ1-ANMM-G5Q
